<p>
  <b>Date of birth:</b>
  <%=h @formtastic_example.date_of_birth %>
</p>


<%= link_to 'Edit', edit_formtastic_example_path(@formtastic_example) %> |
<%= link_to 'Back', formtastic_examples_path %>